<html>
    <body>
        <form action="/create" method="post">
            <div>이름: <input type="text" name="name"></div>
            <div>나이: <input type="text" name="age"></div>
            <div><button>submit</button></div>
        </form>
    </body>
</html>